<% @campaigns.each do |campaign| %>
  <ul>
    <h2>Campaign</h2>
    <% campaign.attributes.each do |key, value| %>
      <li>
	<strong><%= key %>: </strong>
	<%= value %>
      </li>
    <% end %>
  </ul><br>
  <ul>
    <h3>Keywords</h3>
    <% campaign.keywords.each do |keyword| %>
      <% keyword.attributes.each do |key, value| %>
	<li>
	  <strong><%= key %>: </strong>
	  <%= value %>
	</li>
      <% end %>
    <% end %>
  </ul><br>
<% end %>
